<ion-content class="login">
  <ion-grid>
    <ion-row>
      <ion-col class="login__logo">
        <ion-icon src="../../assets/logo.svg" size="large" class="logo"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="login__buttons">
      <ion-col size="6" class="ion-margin-top ion-padding-top">
        <ion-button color="light" class="ion-margin-top login__buttons--btn ion-text-uppercase" (click)="login()">Einloggen</ion-button>
      </ion-col>
      <ion-col size="6" class="ion-margin-top ion-padding-top">
        <ion-button color="tertiary" class="ion-margin-top login__buttons--btn ion-text-uppercase" (click)="register()">Registrieren</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>